<log4net debug="false">
	<root>
		<level value="ALL" />
		<!--<appender-ref ref="console" />
		<appender-ref ref="file" />-->
		<appender-ref ref="elastic" />
	</root>
	
	<logger name="Test2" additivity="false">
		<level value="ALL" />
		<appender-ref ref="elastic2" />
	</logger>
	
	<appender name="elastic" type="log4net.ElasticSearchCore.ElasticSearchAppender, log4net.ElasticSearchCore">
		<!--<connectionString>host=elastictest1;port=9200</connectionString>-->
		<connectionString>hosts=elastictest1:9200,elastictest2:9200,elastictest3:9200;</connectionString>
		<targetIndexPrefix>unit-test</targetIndexPrefix>
		<bufferSize>500</bufferSize>
		<layout type="log4net.JsonLayout.JsonLayout,log4net.JsonLayout">
			<!--<additionalFields>Id:1,Name:Alper</additionalFields>-->
			<fieldSeparator>,</fieldSeparator>
			<keyValueSeparator>:</keyValueSeparator>
			<sendTimeStampAsString>false</sendTimeStampAsString>
			<includeLocationInformation>true</includeLocationInformation>
			<appendNewLine>true</appendNewLine>
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			<targetIndexPrefix>unit-test</targetIndexPrefix>
		</layout>

	</appender>

	<appender name="elastic2" type="log4net.ElasticSearchCore.ElasticSearchAppender, log4net.ElasticSearchCore">
		<connectionString>host=elastictest2;port=9200</connectionString>
		<targetIndexPrefix>unit-test2</targetIndexPrefix>
		<bufferSize>500</bufferSize>
		<layout type="log4net.JsonLayout.JsonLayout,log4net.JsonLayout">
			<!--<additionalFields>Id:1,Name:Alper</additionalFields>-->
			<fieldSeparator>,</fieldSeparator>
			<keyValueSeparator>:</keyValueSeparator>
			<sendTimeStampAsString>false</sendTimeStampAsString>
			<includeLocationInformation>true</includeLocationInformation>
			<appendNewLine>true</appendNewLine>
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			<targetIndexPrefix>unit-test2</targetIndexPrefix>
		</layout>

	</appender>

	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="myapp.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.JsonLayout.JsonLayout,log4net.JsonLayout">
			<additionalFields>Id:1,Name:Alper</additionalFields>
			<fieldSeparator>,</fieldSeparator>
			<keyValueSeparator>:</keyValueSeparator>
			<sendTimeStampAsString>false</sendTimeStampAsString>
			<targetIndexPrefix>UnitTest</targetIndexPrefix>
			<includeLocationInformation>true</includeLocationInformation>
			<appendNewLine>true</appendNewLine>
			<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>